@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Niconne&display=swap");

:root {
  --background-color: #161616;
  --accent-color: #00ff7f;
  --logo-font: "Arimo", sans-serif;
  --global-font: "Libre Franklin", sans-serif;
  --font-color: #fefefe;
  --font-family: "Arial, sans-serif";
  --border-radius: 4px;
  --global-padding: 50px;
}
